# Dash 核心
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==3.0.3
Flask-Compress==1.15

# Feffery 组件
feffery_antd_components==0.3.10
feffery_antd_charts==0.1.0rc5
feffery_utils_components==0.2.0rc24
feffery_markdown_components==0.2.10

# 后端通信
requests==2.32.3
urllib3==2.3.0

# 工具
PyJWT==2.10.1
bcrypt==4.3.0
APScheduler==3.10.4
pandas==2.2.3
python-dateutil==2.9.0
